.footer {
    .links {
        font-size: 0.876rem;
    }

    .rights {
        color: #6b7280;
        font-size: 0.75rem;
    }
}

@media (max-width: 992px) {
    .footer {
        .links {
            line-height: 2rem;
        }
    }
}