.dark-mode .navbar {
  background-color: rgba(17, 24, 39, 1);
  border-bottom: 1px solid rgba(31, 41, 55, 1);
}

.navbar-toggler {
  border: none;
}

.dark-mode .navbar-toggler {
  color: white;
}

.navbar-collapse {
  .btn {
    font-size: 0.8rem;
  }
}

.navbar-collapse.collapsing,
.navbar-collapse.collapse.show {
  .btn,
  .navbar__form {
    width: fit-content;
    margin-top: 0.5rem;
  }

  .navbar__form {
    margin-top: 1rem;
  }

  .navbar-nav:first-child .navbar__button {
    display: none;
  }
}

.navbar__form {
  .form-control {
    background-color: rgba(249, 250, 251, 1);
    border-radius: 6px;
    padding-left: 2rem;
    border: 1px solid #c5c7ca;
    &:focus {
      border: 2px solid rgba(59, 130, 246, 1);
      box-shadow: none;
    }
  }
}

.dark-mode .navbar__form {
  .form-control {
    background-color: rgba(31, 41, 55, 1) !important;
    border-radius: 6px;
    padding-left: 2rem;
    border: 1px solid #373d46;
    &:focus {
      border: 2px solid rgba(59, 130, 246, 1);

      box-shadow: none;
    }
  }
}

.navbar__button {
  border: rgba(243, 244, 246, 1);
  &:hover {
    background-color: rgba(243, 244, 246, 1);
  }
}

.dark-mode .navbar__button {
  color: white;
  background-color: transparent;
  border: rgba(31, 41, 55, 1);
  &:hover {
    background-color: rgba(31, 41, 55, 1);
  }
}

.navbar__mode {
  border: none;
  background-color: transparent;
  &:hover,
  &:focus,
  &:active {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }

  .fa-lightbulb {
    color: white;
  }
}

// icons
.fa-search {
  left: 0.5rem;
  color: rgba(156, 163, 175, 1);
}

